/*VARIABLES*/
body {
  background-color: white; }

body {
  background-color: white; }

header .collapse .navbar-nav .nav-link {
  list-style: none;
  display: inline-block;
  background-color: #7676bc;
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 0 10px 0 10px;
  transition: all 0.2s ease-in-out; }

header .logo {
  height: 90px;
  width: 90px; }

header .bottom {
  background-color: white;
  color: whitesmoke; }

header:hover {
  border-radius: 50%; }

.footer-flex div {
  display: flex;
  justify-content: center; }
  .footer-flex div .redes {
    margin: 10px 7px 15px 7px; }
